<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/in-stock.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home-style.css') }}">
        <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
        <link href="https://fonts.cdnfonts.com/css/abnes" rel="stylesheet">
        <style>
        @import url('https://fonts.cdnfonts.com/css/abnes');

        header {
            font-family: 'abnes', sans-serif;
        }
        </style>
        <title>
            Ax Stock
        </title>
    </head>
    <body>
        <header><img src="{{ url_for('static', filename='images/in-stock.png') }}" alt=""> AX</header>
        <div id="sidebar">
            <ul>
             <li><a href="index"><img src="{{ url_for('static', filename='images/in-stock.png') }}" alt="" id="in-stock"></a></li>
                <li><a href="home"><img src="{{ url_for('static', filename='images/home.png') }}" alt=""></a></li>
                <li><a href="inventory"><img src="{{ url_for('static', filename='images/table.png') }}" alt=""></a></li>
                <li><a href="sales"><img src="{{ url_for('static', filename='images/line-chart.png') }}" alt=""></a></li>
                <li><a href="out_going" ><img src="{{ url_for('static', filename='images/transaction.png') }}" alt=""></a></li>
                <li><a href="pie"><img src="{{ url_for('static', filename='images/pie-chart.png') }}" alt=""></a></li>
                <li><img src="{{ url_for('static', filename='images/logout.png') }}" alt="" id="logout" ></li>
               <!-- Add more links as needed -->
            </ul>
        </div>
        <div id="container">
            <div id="container-1">
                <img src="{{ url_for('static', filename='images/login-icon.jpeg') }}" alt="">
                <div id="text-container">
                    <p>Username:{{ x[0] }}</p>
                    <p>Date:{{ x[1] }}</p>
                </div>
            </div>
            <div id="container-2">
                <p>Sale</p>
                <div id="hidden">
                <div class="input">
                    <label for="Item name">Item name</label>
                    <input type="text" id="Item name" id="Item name" required>
                </div>
                <div class="Amount">
                    <label for="Amount">Amount</label>
                    <input type="text" id="Amount" id="Amount" required>
                    <button>Sale</button>
                </div>
                </div>
            </div>
            <div id="container-3">
                <p>New - Item</p>
                <div id="hidden">
                <div class="input">
                    <label for="Item name">Item name</label>
                    <input type="text" id="Item name" id="Item name" required>
                </div>
                <div class="Amount">
                    <label for="Amount">Amount</label>
                    <input type="text" id="Amount" id="Amount" required>
                    <button>Insert</button>
                    </div>
                </div>
            </div>
            <div id="container-4">
                <p>outgoing - Item</p>
                <div id="hidden">
                    <div class="input">
                        <label for="Item name">Item name</label>
                        <input type="text" id="Item name" id="Item name" required>
                    </div>
                    <div class="Amount">
                        <label for="Amount">Amount</label>
                        <input type="text" id="Amount" id="Amount" required>
                        <button>Insert</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>