<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/in-stock.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home-style.css') }}">
        <link href="https://fonts.cdnfonts.com/css/abnes" rel="stylesheet">
        <style>
        @import url('https://fonts.cdnfonts.com/css/abnes');
        
        header {
            font-family: 'abnes', sans-serif;
        }
        </style>
        <script src="{{ url_for('static', filename='scripts/button.js') }}"></script>
        <title>
            Ax Stock
        </title>
    </head>
    <body>
        <header><img src="{{ url_for('static', filename='images/in-stock.png') }}" alt=""> AX</header>
        <div id="sidebar">
            <ul>
                <li><a href="/"><img src="{{ url_for('static', filename='images/in-stock.png') }}" alt="" id="in-stock"></a></li>
                <li><a href="home"><img src="{{ url_for('static', filename='images/home.png') }}" alt=""></a></li>
                <li><a href="inventory"><img src="{{ url_for('static', filename='images/table.png') }}" alt=""></a></li>
                <li><a href="sales"><img src="{{ url_for('static', filename='images/line-chart.png') }}" alt=""></a></li>
                <li><a href="out_going" ><img src="{{ url_for('static', filename='images/transaction.png') }}" alt=""></a></li>
                <li><a href="pie"><img src="{{ url_for('static', filename='images/pie-chart.png') }}" alt=""></a></li>
                <li><a href="logout"><img src="{{ url_for('static', filename='images/logout.png') }}" alt="" id="logout" ></a></li>
                <!-- Add more links as needed -->
            </ul>
        </div>
        <div>
            <button>Menu</button>
        </div>
        <div id="container">
            <div id="container-1">
                <img src="{{ url_for('static', filename='images/login-icon.jpeg') }}" alt="">
                <div id="text-container">
                    <p>Username:<p1>{{ x[0] }}</p1></p>
                    <p>Date:{{ x[1] }}</p>
                </div>
            </div>
            <div id="container-2">
                <p>Sale</p>
                <div id="hidden">
                    <form method="post" action="http://localhost:5000/api/v1/post/sale">
                        <div class="input">
                            <label for="sale-item-name">Item name</label>
                            <input list="item-name" id="sale-item-name" name="item-name" required>
                            <datalist id="item-name">
                                {% for item in p %}
                                <option value="{{ item[1] }}">
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="Amount">
                            <label for="sale-quantity">Quantity*</label>
                            <input type="text" id="sale-quantity" name="sale-quantity" required>
                            <label for="sale-price">Amount*</label>
                            <input type="text" id="sale-price" name ="sale-price"required>
                            <label for="sale-Payment">Payment</label>
                            <input list="Payment" id="sale-Payment" name="Payment" required>
                            <datalist id="Payment">
                                <option value="Cash">
                                <option value="Mobile Money">
                                <option value="Pos">
                            </datalist>
                            <input type="hidden" id="outgoing-quantity" name="username" value="{{ username }}" required>
                            <button type="submit" id="sale-button">Sale</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="container-3">
                <form method="post" action="http://localhost:5000/api/v1/post/new_item">
                    <p>New - Item</p>
                    <div id="hidden">
                        <div class="input">
                            <label for="new-item-name">Item name</label>
                            <input list="item-name" id="new-item-name" name="item-name" required>
                            <datalist id="item-name">
                                {% for item in p %}
                                <option value="{{ item[1] }}">
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="category">
                            <label for="new-item-category">Category</label>
                            <input list="categories" id="new-item-category" name="category" required>
                            <datalist id="categories">
                                {% for item in n %}
                                <option value="{{ item[1] }}">
                                {% endfor %}
                            </datalist>
                        </div>
                    </div>
                    <label for="new-item-quantity">Quantity*</label>
                    <input type="text" id="new-item-quantity" name= "quantity" required>
                    <button type="submit" id="add-button">Add -new item</button>
                </form>
            </div>
        </div>
        <div id="container-4">
            <form method="post" action="http://localhost:5000/api/v1/post/outgoing">
            <p>Outgoing - Item</p>
            <div id="hidden">
                <div class="input">
                    <label for="outgoing-item-name">Item name</label>
                    <input list="item-name" id="outgoing-item-name" name="item-name" required>
                    <datalist id="item-name">
                        {% for item in p %}
                        <option value="{{ item[1] }}">
                        {% endfor %}
                    </datalist>
                </div>
                <label for="outgoing-branch">Branch</label>
                <input list="Branch" id="outgoing-branch" name="Branch" required>
                <datalist id="Branch">
                    {% for item in l %}
                    <option value="{{ item[1] }}">
                    {% endfor %}
                </datalist>
                <div class="Amount">
                    <label for="outgoing-quantity">Quantity*</label>
                    <input type="text" id="outgoing-quantity" name="new-item-quantity" required>
                    <input type="hidden" id="outgoing-quantity" name="username" value="{{ username }}" required>
                    <button type="submit" id="outgoing-button">Approve</button>
                    
                </div>
            </div>
        </form>
        </div>
        <div id="container-5">
            <form method="post" action="http://localhost:5000/api/v1/post/existing">
            <p>Existing - Item</p>
            <div id="hidden">
                <div class="input">
                    <label for="outgoing-item-name">Item name</label>
                    <input list="item-name" id="outgoing-item-name" name="item-name" required>
                    <datalist id="item-name">
                        {% for item in p %}
                        <option value="{{ item[1] }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="Amount">
                    <label for="outgoing-quantity">Quantity*</label>
                    <input type="text" id="outgoing-quantity" name="Existing-quantity" required>
                    <button type="submit" id="existing-insert-button">Add</button>
                </div>
            </div>
        </form>
        </div>
        <script>
    // Target the "Sale" button
    document.getElementById('sale-button').addEventListener('click', function() {
        alert('Success');
    });

    // Target the "Add" button
    document.getElementById('add-button').addEventListener('click', function() {
        alert('Success');
    });

    // Target the "Insert" button in the "Outgoing - Item" section
    document.getElementById('outgoing-button').addEventListener('click', function() {
        alert('Success');
    });

    // Target the "Insert" button in the "Existing - Item" section
    document.getElementById('existing-insert-button').addEventListener('click', function() {
        alert('Success');
    });
</script>
    </body>
</html>